# Xcode
**/*.swp
**/*.swp
**/*.lock
**/xcuserdata/
**/*.xcodeproj/xcuserdata/
*.xcworkspace/
**/xcuserdata/xcdebugger/
**/xcuserdata/xcschemes/
**/*.xccheckout
**/*.xcuserstate
**/*.xcscmblueprint
app/*.xcconfig
